@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 82.5%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(to top left, #6a11cb 0%, #2575fc 100%);
    display: block;
    align-items: center;
    justify-content: center;
    margin: 2rem 20rem;
}

.title {
    color: white;
    font-size: 4rem;
    margin: 1.5rem;
    align-items: center;
    text-align: center;
}

main {
    position: relative;
    background-color: rgba(255, 255, 255, 0.484);
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    text-transform: uppercase;
    color: white;
}

/* Player Parts */
.player {
    flex: 50%;
    padding: 5rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* transition: all 0.75s; */
}
.player-active {
    background-color: rgba(255, 255, 255, 0.741);
}

.name {
    font-size: 3rem;
    color: #2575fc;
}

.score {
    font-size: 10rem;
    padding: 3rem 0;
    color: #2575fc;
}

.current {
    background-color: #2575fc;
    padding: 1rem 2rem;
    backdrop-filter: blur(200px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.115);
    border-radius: 9px;
}

.current-label {
    font-size: 1.5rem;
}

.current-score {
    font-size: 3rem;
}

/* Button Parts */
.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #2575fc;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
    background-color: white;
    backdrop-filter: blur(10px);
    padding: 0.7rem 1.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.btn-roll {
    top: 25rem;
}
.btn-hold {
    top: 29rem;
}
.btn-new{
    top: 50rem;
    font-size: 1.8rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.484);
}
.btn:active {
    transform: translate(-50%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn:focus {
    outline: none;
}
.btn:hover {
    color: #163d81;
    background-color: rgba(255, 255, 255, 0.653);
}

.dice {
    position: absolute;
    left: 50%;
    top: 12rem;
    transform: translateX(-50%);
    height: 7rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}

.player-winner {
    background-color: aquamarine;
}

.player-winner .name {
    color: #2575fc;
}

/* Mobile */
@media screen and (max-width: 992px) {
    body {
        margin: 0;
    }
}